
<div>
    @(Html.Kendo().Grid<LogAnalyzer.Models.Domain.Entities.LogString>()
                                                            .Name("grid")
                                                            .Columns(columns =>
                                                                    {
                                                                        columns.Bound(p => p.uri).Filterable(false).Width(100);
                                                                        columns.Bound(p => p.time).Width(100);
                                                                        columns.Bound(p => p.date).Format("{0:MM/dd/yyyy}").Width(140);
                                                                        columns.Bound(p => p.clientIP);
                                                                        columns.Bound(p => p.status).Width(150);
                                                                    })
                                                            .Pageable()
                                                            .Sortable()
                                                            .Scrollable()
                                                            .Filterable()
                                                            .DataSource(dataSource => dataSource
                                                                .Ajax()
                                                                .Read(read => read.Action("GridRead", "Services").Data("GridParameters"))
                                                             )
    )
</div>